form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

body {
  display:flex;
  justify-content: center;
}

.App {
  margin: 3rem;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.grid-item {
  width: 100%;
}

img {
  width: inherit;
}