form {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(50, 49, 49);
}

.App {
  margin: 2rem;
}

/* LogIn/signUp */

h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

label {
  color: white;
  font-size: 25px;

}

input {
  width: 12rem;
  height: 1.5rem;
}

.account-btn {
  width: 12rem;
  height: 2.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 15px;
}


/*  User Page  */

.user-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.nav-item {
  width: 10%;
}

.nav-icon {
  width: 100%;
  padding: 0;
  margin: 0;
}